/**
  @file index.css
  @date 2020-3
  @author Génesis García Morilla <gengns@gmail.com>
  @description Main style
 */

@font-face {
  font-family: 'Crayon';
  src: url('../font/CoolCrayon.ttf');
}

:root {
  --bg: aliceblue;
  --blue: #4d64b0;
  --pink: #f8806f;
  font-size: 2.5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
}

.hide {
  visibility: hidden;
}  

::backdrop {
  background-color: var(--bg);
}

canvas {
  position: fixed;
  z-index: 9;
}

section {
  flex-direction: column;
  justify-content: center;
  padding: 0 !important;
  height: 100vh;
}

section:first-of-type img {
  width: 20vh;
  width: 20vh;
  margin: 17vh auto 6vh;
}

section:first-of-type h1 {
  font-size: 1.5rem;
  margin: 10px auto;
  color: #46494c
}

section:first-of-type h2 {
  font-size: 1.2rem;
  color: var(--pink);
}

section:first-of-type h2:nth-of-type(2) {
  color: #fbab28;
  text-decoration: underline;
}

select {
  width: 20vh;
  margin: 4vh auto auto;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--pink);
}

g-title {
  color: var(--blue);
  font-size: 7rem;
}

g-talk {
  color: var(--pink);
  font-size: 2rem;
  font-family: 'Crayon';
  padding: 0 .8rem;
}

g-faces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

g-option {
  color: var(--blue);
  font-size: 3rem;
  font-family: 'Crayon';
  display: flex;
  justify-content: center;
  margin: 1rem;
}

g-note {
  font-size: 18px;
  color: var(--blue);
  font-weight: bolder;
  margin: 0 3vh;
}

g-list {
  margin: 3vh auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

g-list p {
  font-size: 18px;
  margin: 2vh;
}

g-flex {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  font-size: 1rem;
  color: var(--blue);
  font-weight: bolder;
}

g-flex span {
  margin: 0 3vh;
}

g-option label {
  display: inherit;
}

figure {
  margin: 3vw;
}

figure img {
  height: 10vh;
  border-radius: 50%;
}

figure img:hover {
  background-color: wheat;
}

figcaption {
  font-size: 1rem;
  color: var(--pink);
  margin: .1rem;
}

input[type='radio'] {
  -webkit-appearance: none;
  outline:none;
}

input[type='radio']::after {
  content: '';
  width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  border: 2px solid var(--blue);
  display: flex;
  background-color: var(--bg);
  margin: 0 1rem;
}

input[type='radio']:checked::after {
  background-color: wheat
}

img[src*=openmouth] {
  width: 40vh;
  margin: 3vh auto;
}

img[src*=traveling] {
  width: 90vh;
  margin: 3vh auto;
}

img[src*=hand] {
  position: absolute;
  bottom: 0;
  width: 17vw;
  left: 1vw;
  z-index: -1;
}

img[src*=feel] {
  width: 50vh;
  margin: 3vh auto;
}

img[src*=show] {
  width: 50vh;
  margin: 3vh auto;
}

img[src*=curtain] {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

img[src*=blackboard] {
  position: sticky;
  width: 25vh;
  margin: 3vh auto;
}

img[src*=teacher] {
  position: absolute;
  width: 20vh;
  margin: 3vh auto;
  top: 37vh;
  bottom: 0;
  left: 0;
  right: 35vh;
}

img[src*=ruler] {
  position: absolute;
  width: 10vh;
  margin: 3vh auto;
  top: 47vh;
  bottom: 0;
  left: 0;
  right: 13vh;
}

img[src*=cloud] {
  position: absolute;
  width: 20vh;
  top: 100px;
  left: -500px;
  opacity: .8;
  animation: cloud 2s linear 0s infinite reverse;
}
  
@keyframes cloud {
  from {left:-500px;}
  to {left: 102%;}
}

img[src*=flight] {
  width: 30vh;
  margin: 3vh auto;
  animation: fly 800ms ease-in-out 0s infinite alternate;
  transition: top 1s;
  top: 0;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}

@keyframes fly {
  0% {top: 0;}    
  100% {top: 15px;}
}

img[src*=symptom] {
  width: 40vh;
  margin: 3vh auto;
}

img[src*=lungs] {
  width: 30vh;
  margin: 3vh auto;
}

img[src*=bye] {
  width: 16vh;
  margin: 3vh auto;
}

img[src*=hearts] {
  position: absolute;
  margin: 3vh auto;
  bottom: 30vh;
  left: 26vh;
  right: 0;
  width: 6vh;
  animation: hearts 10s linear 0s infinite;
}

@keyframes hearts {
  0% {bottom: 30vh;}    
  100% {bottom: 900px;}
}

img[src*=house] {
  width: 40vh;
  margin: 3vh auto;
  z-index: 1;
}

img[src*=tap], img[src*=cake]{
  width: 16vh;
  margin: 2vh auto;
}

img[src*=stop], img[src*=lover], img[src*=idcard] {
  width: 20vh;
  margin: 2vh auto;
}

img[src*=stop] {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

img[src*=finger] {
  pointer-events: none;
  position: absolute;
  margin: 2vh auto;
  left: 0;
  right: 0;
}

#touch {
  width: 3vh;
  top: 50vh;
  opacity: .0;
  animation: blink 2s infinite linear;
}

@keyframes blink {
  from {opacity: .0;}
  to {opacity: .3;}
}

#drag {
  width: 5vh;
  bottom: 30vh;
  opacity: .3;
  animation: drag 2s linear 0s infinite;
}

@keyframes drag {
  0% {bottom: 30vh;}    
  100% {bottom: 50vh;}
}

#fullscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(145, 38, 38, 0.1);
  z-index: 2;
}